.todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
}
.todo p {
    margin: 0;
}
.remove-btn {
    display: inline-block;
}